*.aux
*.bbl
*.blg
*.log
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
.DS_Store
.venv
__pycache__
.env
.env.*
!.env.example
src/tmp
unsloth_compiled_cache/
wandb/

.python-version # tmp, pytthon version aren't synced up between local and remote
# arc_plain
datasets/
outputs/